.about-us-main {
    position: relative;

    min-height: 100vh;
    height: 100%;
    width: 100%;
    padding: calc(100px + var(--nav-size)) 5vw 100px 5vw;

    display: flex;
    justify-content: center;

    background-image: url('/assets/img/inicio/encabezado-img.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.about-us-main::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, .6);
    z-index: 0;
}   

.about-us-img-container {
    z-index: 1;
    width: 40vw;
    border-radius: 0 24px 24px 0;

    background-image:  url('/assets/img/about-us/background-img.webp');
    background-position: center;
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;

    box-shadow: 12px 12px 36px rgba(0,0,0,0.5);
}



.about-us-container {
    position: relative;
    z-index: 2;
    margin: 0 auto;
    width: 70vw;
    min-height: 50vh;
    background-color: rgba(var(--c-ba), .95);
    border-radius: 24px 0 0 24px;
    padding: 50px 75px;
    box-shadow: 12px 12px 36px rgba(0,0,0,0.5);
}



.about-us-container h1 {
    font-size: 2.5rem;
    font-weight: 300;
    text-align: center;
}
.about-us-container p {
    font-size: 1.2rem;
    font-weight: 300;
    text-align: justify;
    margin-top: 5px;
    margin-bottom: 15px;
}
.about-us-container p em {
    font-style: italic;
    font-weight: 500;
}
.about-us-container p strong {
    font-weight: 400;
}

@media (max-width: 1024px) {
    .about-us-main {
        flex-direction: column;
    }
    .about-us-img-container {
        width: 100%;
        height: 400px;
        background-position: top;
        border-radius: 0 0 12px 12px;
    }
    .about-us-container {
        width: 100%;
        padding: 30px 50px;
        border-radius: 12px 12px 0 0;
    }
}
@media (max-width: 480px) {
    .about-us-container {
        padding: 20px 30px;
    }
    .about-us-container h1 {
        font-size: 2rem;
        text-align: left;
    }
    .about-us-container p {
        font-size: 1rem;
    }
}