.about-us-main {
    position: relative;

    min-height: 100vh;
    height: 100%;
    width: 100%;
    padding: calc(100px + var(--nav-size)) 0 100px 0;

    background-image: url('/assets/img/about-us/background-img.webp');
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;

}.about-us-main::before {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
}

.about-us-container {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    max-width: 1000px;
    width: 80vw;
    min-height: 50vh;
    background-color: rgba(var(--c-ba), .95);
    border-radius: 10px;
    padding: 50px 75px;
    box-shadow: 12px 12px 36px rgba(0,0,0,0.3);
}

@media (max-width: 768px) {
    .about-us-container {
        width: 90vw;
        padding: 30px 50px;
    }
}

.about-us-container h1 {
    font-size: 2.5rem;
    font-weight: 300;
    text-align: center;
}
.about-us-container p {
    font-size: 1.2rem;
    font-weight: 300;
    text-align: justify;
    margin-top: 5px;
    margin-bottom: 15px;
}
.about-us-container p em {
    font-style: italic;
    font-weight: 500;
}
.about-us-container p strong {
    font-weight: 400;
}

@media (max-width: 480px) {
    .about-us-container {
        padding: 20px 30px;
    }
    .about-us-container h1 {
        font-size: 2rem;
        text-align: left;
    }
    .about-us-container p {
        font-size: 1rem;
    }
}