.aviso-construccion {
    background: rgba(var(--c-do),0.9);
    color: rgb(var(--c-ao));
    text-align: center;
    padding: 12px;
    font-weight: 500;
    position: fixed;
    top: var(--nav-size);
    width: 100%;
    z-index: 50;
}
header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 0;
}
.hero-img {
    width: 100%;
    height: 100vh;
    min-height: 625px;
    z-index: 0;
    filter: brightness(60%);
    transition: filter 1s ease-in-out;
    background-image: url("../assets/img/contacto/encabezado-img.webp");
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.sectionheader {
    position: absolute;
    top: calc(50% + var(--nav-size) /2);
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 80%;
    max-width: 900px;
    border-radius: 10px;
    height: clamp(auto, 50vh, 500px);
    background-color: rgb(var(--c-ba));
    box-shadow: 0 6px 12px 6px rgba(0, 0, 0, 0.25);
    z-index: 1;
    padding: 50px 50px;
}
.sectionheader h1 {
    font-size: 2.5rem;
    font-weight: 400;
    color: rgb(var(--c-ao));
    text-align: left;
    margin: 0;
}
.sectionheader h2 {
    font-size: 1.25rem;
    margin: 0;
    margin-bottom: 25px;
}
.sectionheader h3 {
    font-size: 1rem;
    font-weight: 600;
    color: rgb(var(--c-ao));
    text-align: left;
    margin: 10px 0;
}
.sectionheader p {
    font-size: 1rem;
    font-weight: 350;
    color: rgb(var(--c-ao));
    text-align: justify;
    margin: 0;
}
.sectionheader a {
    font-weight: 400;
    color: rgb(var(--c-do));
    font-size: 1rem;
    margin: 0;
}
.sectionheader a:hover {
    color: rgb(var(--c-ao));
}
.contacto-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    width: 100%;
    margin-top: 25px;
}
.contacto1, .contacto2 {
    padding-top: 25px;
}
.contacto1 {
    border-right: 1px solid rgb(var(--c-do));
    padding-right: 25px;
}
.contacto1 input, .contacto1 textarea {
    font-family: lato, times, arial;
    font-weight: 350;
    width: 100%;
    height: 30px;
    margin: 5px 0;
    border-radius: 5px;
    border: 0.5px solid rgb(var(--c-ao));
    padding: 5px;
}
.contacto1 input:disabled, .contacto1 textarea:disabled {
    opacity: 0.5;
    pointer-events: none;
}
.contacto1 textarea {
    height: 100px;
    resize: none;
}
.contacto2 {
    padding-left: 25px;
}
.contacto1 button {
    width: 100%;
    border-radius: 8px;
    height: 30px;
    border: none;
    background-color: rgb(var(--c-do));
    color: rgb(var(--c-ba));
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.25);
    margin: 25px 0;
    transition: background-color 0.5s ease, color 0.5s ease, box-shadow 0.3s ease;
}
.contacto1 button:hover {
    box-shadow: none;
    background-color: rgba(var(--c-ba),0.9);
    border: 1px solid rgb(var(--c-ao));
    color: rgb(var(--c-ao));
}
.contacto1 button:disabled {
    background-color: gray;
    opacity: 0.5;
    box-shadow: inset 6px 6px 12px rgba(0, 0, 0, 0.25);
    pointer-events: none;
}
.RRSS {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
    gap: 10px;
}
.RRSS h3 {
    color: rgb(var(--c-ba));
    font-weight: 300;
}
.RRSS a {
    width: 175px;
    height: 40px;
    background-color: rgb(var(--c-do));
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7.5px;
    text-decoration: none;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.25);
    transition: background-color 0.2s ease, box-shadow 0.5s ease;
}
.RRSS a:hover {
    box-shadow: none;
    background-color: rgba(var(--c-ao),0.9);
}
.RRSS a img {
    width: auto;
    height: 100%;
    margin-right: 5px;
}
@media (max-width: 1015px) {
    .contacto1 {
        border-right: none;
    }
    .hero-img {
        min-height: 950px;
    }
}
@media (max-width: 768px) {
    .sectionheader {
        width: 90%;
        padding: 30px;
    }
    .sectionheader h1 {
        font-size: 1.75rem;
    }
    .sectionheader p {
        font-size: 1.125rem;
    }
    .contacto-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .sectionheader h1 {
        font-size: 2rem;
    }
    .contacto1, .contacto2 {
        padding: 5px;
    }
}