.aviso-construccion {
    background: rgba(var(--c-do),0.9);
    color: rgb(var(--c-ao));
    text-align: center;
    padding: 12px;
    font-weight: 500;
    position: fixed;
    top: var(--nav-size);
    width: 100%;
    z-index: 50;
}

/*  ===============
    Header y titulo
    ===============  */

header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 0;
}
.hero-img {
    width: 100%;
    height: 70vh;
    z-index: 0;
    filter: brightness(60%);
    transition: filter 1s ease-in-out;
    background-image: url("../assets/img/fondo-encabezado-educacion.png");
    background-position: center;
    background-size: cover;
    box-shadow: inset 6px 6px 12px rgba(0, 0, 0, .5);
}
.hero-img:hover {
    filter: brightness(70%);
    transition: filter 1s ease-in-out;
}
.scroll-arrow {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 25px;
  font-weight: 300;
  color: rgb(var(--c-ba));
  cursor: pointer;
  animation: arrowDown 1.5s infinite;
}
@keyframes arrowDown {
  0% {
    opacity: 0;
    transform: translate(-50%, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-50%, 12px);
  }
}
.title {
    position: absolute;
    top: calc(50% + var(--nav-size) /2);
    left: 50%;
    transform: translate(-50%, -50%);
    height: 150px;
    width: 90%;
    max-width: 700px;
    background-color: rgba(var(--c-ba),.9);
    border-radius: 12px;
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: center;
    padding: 40px;
    border-left: 8px solid rgb(var(--c-do));
    box-shadow: 0 6px 12px 6px rgba(0, 0, 0, 0.25);
}
.title h1 {
    font-weight: 300;
    font-size: 2rem;
}
.title h1 strong {
    color: rgb(var(--c-do));
    font-weight: 300;
}
@media (max-width: 650px) {
    .title {
        padding: 40px 20px;
        width: 95%;
    }
    .title h1 {
        font-size: 1.6rem;
    }
}

/*  ===============
    Seccion 1
    ===============  */

.section1, .section3 {
    height: auto;
    margin: 10px 25px;
    border-top: 1px solid rgb(var(--c-do));
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    scroll-margin-top: calc(var(--nav-size) + 10px);
}
.section1 p, .section2 p, .section3 p, .section3 ul, .section4 p {
    font-size: 1.2rem;
    font-weight: 300;
    text-align: justify;
    margin: 10px 0;
}
.section1 h2, .section2 h2, .section3 h2, .section4 h2 {
    font-size: 1.75rem;
    font-weight: 400;
    margin-bottom: 10px;
}
.section1 {
    border-bottom: 1px solid rgb(var(--c-do));
}
.action_buttons {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 300px));
    margin: 25px 5px;
    grid-gap: 10px;
    justify-content: center;
}
.action_buttons a{
    padding: 5px;
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    border-radius: 12px;
    color: rgb(var(--c-ba));
    background-color: rgb(var(--c-do));
    border: 1px solid rgb(var(--c-do));
    transition: background-color 0.5s ease, color 0.5s ease;
}
.action_buttons a:hover {
    color: rgb(var(--c-do));
    background-color: rgb(var(--c-ba));
    border: 1px solid rgb(var(--c-do));
}
.img-section {
    background-image: url("../assets/img/fondo-encabezado.jpg");
    background-position: center;
    background-size: cover;
    box-shadow: inset 6px 6px 12px rgba(0, 0, 0, .5);
    display: flex;
    position: relative;
}
.img-section::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.25);
    z-index: 0;
}
.section2 {
    position: relative;
    background-color: rgba(var(--c-ba),.95);
    left: 50%;
    transform: translateX(calc(-50% - 25px));
    margin: 25px 25px;
    padding: 25px;
    border-radius: 12px;
}
.problemas {
    border-left: 4px solid rgb(var(--c-do));
    border-radius: 6px;
    margin: 5px 0;
    padding: 5px;
    padding-left: 15px;
}
.section3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(475px, 1fr));
    grid-gap: 25px;
    padding: 25px;
}
.section3 ul {
    margin: 15px 5px;
    list-style-type: disc;
}
.section3 ul li {
    margin: 8px 0;
    text-decoration: rgb(var(--c-do));
}
.section3 ul li::marker {
    color: rgb(var(--c-do));
}
.card {
    border-radius: 12px;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, .25);
    padding: 15px;
    min-height: 325px;
    border-left: 4px solid rgb(var(--c-do));
    border-right: 4px solid rgb(var(--c-do));
}
@media (max-width: 550px) {
    .section3 {
        grid-template-columns: 1fr;
        padding: 25px 0;
    }
}
.section4 {
    height: auto;
    margin: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    scroll-margin-top: calc(var(--nav-size) + 10px);
    box-shadow: 0 6px 12px 6px rgba(0, 0, 0, 0.25);
    padding: 40px;
    min-height: 300px;
}
.section4 a {
    margin-top: 15px;
    padding: 10px 25px;
    display: inline-block;
    text-decoration: none;
    border-radius: 12px;
    color: rgb(var(--c-do));
    background-color: rgb(var(--c-ba));
    border: 2px solid rgb(var(--c-do));
    transition: background-color 0.5s ease, color 0.5s ease;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.25);
}
.section4 a:hover {
    color: rgb(var(--c-ba));
    background-color: rgb(var(--c-ao));
    border: 1px solid rgb(var(--c-ao));
    box-shadow: inset 3px 3px 6px rgba(0, 0, 0, 0.5);
}
/* ===============================
   CARRUSEL SERVICIOS DESTACADOS
   =============================== */

.carousel-section {
    scroll-margin-top: var(--nav-size);
}
.carousel-viewport {
    margin: 10px 25px;
    border-top: 1px solid rgb(var(--c-do));
    display: flex;
    flex-direction: row;
    align-items: center;
    scroll-snap-type: x mandatory;
}
.carousel-track {
    display: flex;
    gap: 1rem;
    height: 100%;
    padding: 25px 0;
    overflow-x: auto;
    scroll-behavior: smooth;
}
.carousel-track::-webkit-scrollbar {
    display: none;
}
.service-media {
    width: 400px;
    position: relative;
    display: flex;
    overflow: hidden;
    height: 200px;
    border-radius: 8px;
    align-content: center;
    justify-content: center;
    box-shadow: 6px 6px 12px rgba(0,0,0,.25);
    scroll-snap-align: start;
}
.service-media:hover {
    transform: translateY(-6px);
    box-shadow: 3px 3px 6px rgba(0,0,0,.25);
}
.service-image {
    width: 100%;
    object-fit: cover;
}
.service-overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(to top,rgba(0,0,0,0.8),rgba(0,0,0,.4));
    width: 100%;
    color: rgb(var(--c-ba));
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: left;
    gap: .5rem;
    transition: background .3s ease;
}
.service-title {
    font-size: 1.2rem;
    margin: 0;
    font-weight: 400;
}
.service-desc {
    font-size: 1rem;
    font-weight: 300;
}
.service-btn {
    padding: 5px;
    background-color: rgb(var(--c-do));
    border-radius: 12px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    color: rgb(var(--c-ao));
    font-size: 0.8rem;
}
.carousel-btn {
    width: 50px;
    height: 100px;
    border-radius: 24px;
    padding: 5px;
    margin: 0 5px;
    background-color: rgb(var(--c-ao));
    color: rgb(var(--c-ba));
    border: none;
}
.carousel-btn:hover {
    background-color: rgb(var(--c-ba));
    border: 1px solid rgb(var(--c-do));
    color: rgb(var(--c-do));
    box-shadow: 6px 6px 12px rgba(0,0,0,.25);
}
@media (max-width: 600px) {
    .service-media {
        width: calc(100vw - 115px);
        box-shadow: inset 6px 6px 12px rgba(0,0,0,.25);
    }
    .service-title {
        font-size: 1.1rem;
        font-weight: 500;
    }
    .service-desc {
        font-size: .9rem;
        margin-top: 5px;
        font-weight: 400;
    }

}
