.aviso-construccion {
    background: rgba(var(--c-do),0.9);
    color: rgb(var(--c-ao));
    text-align: center;
    padding: 12px;
    font-weight: 500;
    position: fixed;
    top: var(--nav-size);
    width: 100%;
    z-index: 50;
}

/*  ===============
    Header y titulo
    ===============  */

header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 0;
}
.hero-img {
    width: 100%;
    height: 75vh;
    z-index: 0;
    filter: brightness(60%);
    transition: filter 1s ease-in-out;
    background-image: url("../assets/img/fondo-encabezado-educacion.png");
    background-position: center;
    background-size: cover;
    box-shadow: inset 6px 6px 12px rgba(0, 0, 0, .5);
}
.hero-img:hover {
    filter: brightness(70%);
    transition: filter 1s ease-in-out;
}
.scroll-arrow {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 25px;
  font-weight: 300;
  color: rgb(var(--c-ba));
  cursor: pointer;
  animation: arrowDown 1.5s infinite;
}
@keyframes arrowDown {
  0% {
    opacity: 0;
    transform: translate(-50%, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-50%, 12px);
  }
}
.title {
    position: absolute;
    top: calc(50% + var(--nav-size) /2);
    left: 50%;
    transform: translate(-50%, -50%);
    height: 150px;
    width: 90%;
    max-width: 700px;
    background-color: rgba(var(--c-ba),.9);
    border-radius: 12px;
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: center;
    padding: 40px;
    border-left: 8px solid rgb(var(--c-do));
}
.title h1 {
    font-weight: 300;
    font-size: 2rem;
}
.title h1 strong {
    color: rgb(var(--c-do));
    font-weight: 350;
}
@media (max-width: 650px) {
    .title {
        padding: 40px 20px;
        width: 95%;
    }
    .title h1 {
        font-size: 1.6rem;
    }
}

/*  ===============
    Seccion 1
    ===============  */

.section1 {
    height: auto;
    margin: 10px 25px;
    border-top: 1px solid rgb(var(--c-do));
    border-bottom: 1px solid rgb(var(--c-do));
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    scroll-margin-top: calc(var(--nav-size) + 10px);
}
.section1 p {
    font-size: 1.2rem;
    font-weight: 300;
    text-align: justify;
}
.section1 h2 {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 10px;
}
.action_buttons {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 300px));
    margin: 25px 5px;
    grid-gap: 10px;
    justify-content: center;
}
.action_buttons a {
    padding: 5px;
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    border-radius: 12px;
    color: rgb(var(--c-ba));
    background-color: rgb(var(--c-do));
    border: 1px solid rgb(var(--c-do));
    transition: background-color 0.5s ease, color 0.5s ease;
}
.action_buttons a:hover {
    color: rgb(var(--c-do));
    background-color: rgb(var(--c-ba));
    border: 1px solid rgb(var(--c-do));
}
.img-section {
    background-image: url("../assets/img/fondo-encabezado.jpg");
    height: 100px;
    background-position: center;
    filter: brightness(75%);
    background-size: cover;
    box-shadow: inset 6px 6px 12px rgba(0, 0, 0, .5);
}
