/* ==============================
    Mostrar Aviso Construcción
   ============================== */
.aviso-construccion {
    display: none;
}

/*  =====================
    Header con bienvenida
    =====================  */

header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 0;
}
.hero-img {
    width: 100%;
    height: 100vh;
    min-height: 500px;
    z-index: 0;
    filter: brightness(40%);
    transition: filter 1s ease-in-out;
    background-image: url("../assets/img/inicio/encabezado-img.jpg");
    background-position: center;
    background-size: cover;
}
.sectionheader {
    position: absolute;
    top: calc(50% - 50px + var(--nav-size) /2);
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    max-width: 900px;
    min-height: 50vh;
    max-height: 550px;
    z-index: 1;
    background: none;
}
.sectionheader h1 {
    font-size: 3.25rem;
    font-weight: 350;
    color: rgb(var(--c-ba));
    text-align: left;
    margin: 0;
}
.sectionheader p {
    font-size: 1.5rem;
    font-weight: 350;
    color: rgb(var(--c-ba));
    text-align: justify;
    margin: 20px 0;
}
.sectionheader a {
    text-decoration: none;
    text-align: center;
    color: rgb(var(--c-ao));
    width: 100%;
    background-color: rgb(var(--c-do));
    font-size: 1.1rem;
    font-weight: 400;
    padding: 10px 20px;
    border-radius: 18px;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.sectionheader a:hover {
    background-color: rgb(var(--c-ao));
    color: rgb(var(--c-ba));
    transition: background-color 0.3s ease, color 0.3s ease;
}
.scroll-arrow {
  position: absolute;
  bottom: 85px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 25px;
  font-weight: 300;
  color: rgb(var(--c-ba));
  cursor: pointer;
  animation: arrowDown 1.5s infinite;
}
@keyframes arrowDown {
  0% {
    opacity: 0;
    transform: translate(-50%, 0);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-50%, 12px);
  }
}
@media (max-width: 768px) {
    .hero-img {
        min-height: 650px;
    }
    .sectionheader {
        width: 80%;
    }
    .sectionheader h1 {
        font-size: 1.75rem;
    }
    .sectionheader p {
        font-size: 1.125rem;
    }
}

/*  =====================
    Secciones 1, 2, 3 y 4
    =====================  */

.section1 {
    scroll-margin-top: calc(var(--nav-size) + 10px);
    margin: 0 25px;
    border-top: 1px solid rgb(var(--c-do));
    transform: translateY(-50px);
    background-color: rgb(var(--c-ba));
    border-radius: 24px;
    box-shadow: 6px 12px 24px rgba(0,0,0,0.5);
    padding: 40px;
}
.section1 h2 {
    font-size: 2rem;
    color: rgb(var(--c-ao));
    margin-bottom: 15px;
    font-weight: 400;
    text-align: center;
}
.section1 p {
    font-size: 1.125rem;
    font-weight: 300;
    text-align: justify;
    line-height: 1.6;
}

.section2 {
    margin: 10px 25px;
    border-bottom: 1px solid rgb(var(--c-do));
    border-top: 1px solid rgb(var(--c-do));
    padding: 25px;
}
.section2 h2 {
    font-size: 2rem;
    color: rgb(var(--c-ao));
    margin-bottom: 30px;
    font-weight: 400;
    text-align: center;
}
.lineas-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    margin: 10px;
    padding: 15px;
}
.lineas img {
    display: block;
    margin: 0 auto 15px auto;
    width: 50px;
    height: 50px;
    
}
.lineas h3 {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.25);
    border-radius: 12px;
    padding: 5px;
}
.lineas p {
    font-size: 1.125rem;
    font-weight: 300;
    text-align: justify;
    line-height: 1.6;
}

.section3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
}
.section3-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
    margin: 10px 25px;
    border-bottom: 1px solid rgb(var(--c-do));
}
.section3-text h2 {
    font-size: 2rem;
    color: rgb(var(--c-ao));
    margin-bottom: 15px;
    font-weight: 400;
    text-align: center;
}
.section3-text p {
    font-size: 1.1rem;
    font-weight: 300;
    text-align: left;
}
.section3-text span {
    font-weight: 400;
}
.quienes-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.quienes {
    width: calc(50% - 10px);
    min-width: 250px;
    margin: 0;
    padding: 0 5px;
    border-radius: 6px;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.25);
    border: 2px solid transparent;
}
.quienes a {
    text-decoration: none;
    color: rgb(var(--c-ao));
}
.quienes:hover {
    border: 2px solid rgb(var(--c-do));
}
.quienes:hover a{
    text-decoration: underline;
    color: rgb(var(--c-do));
}
.section3-img {
    background-image: url("../assets/img/inicio/section-img1.jpeg");
    background-position: center;
    background-size: cover;
    box-shadow: inset 12px 12px 18px rgba(0,0,0,0.3);
    min-height: 300px;
}

.section4 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    margin: 10px 0;
    padding: 25px 0;
}
.section4-1, .section4-2 {
    margin: 10px 25px;
    padding: 25px;
    text-align: center;
    border-radius: 24px;
    border: 2px solid rgb(var(--c-do));
}
.section4-1 h2, .section4-2 h2 {
    font-size: 2rem;
    color: rgb(var(--c-ao));
    margin-bottom: 15px;
    font-weight: 400;
    text-align: center;
}
.section4-1 ul {
    list-style: none;
}
.section4-1 ul li, .section4-2 ol li {
    font-size: 1.1rem;
    font-weight: 300;
    text-align: center;
    padding-left: 30px;
    position: relative;
}
.section4-1 ul li::before {
    content: "✓";
    font-weight: 700;
    position: absolute;
    left: 0;
    transform: translateX(-120%);
    color: rgb(var(--c-do));
}
.section4-2 ol li::marker {
    font-weight: 700;
    color: rgb(var(--c-do));
}
@media (max-width: 768px) {
    .section3 {
        grid-template-columns: 1fr;
    }
    .section4 {
        grid-template-columns: 1fr;
    }
}
@media (max-width: 500px) {
    .lineas-container {
        grid-template-columns: 1fr;
        margin: 0;
    }
}

/*  =====================
    Formulario de contacto
    =====================  */
.form-section {
    background-image: url('/assets/img/inicio/contact-img.jpg');
    width: 100%;
    min-height: 300px;
    height: auto;
    background-position: center;
    background-size: cover;
    box-shadow: inset 12px 12px 18px rgba(0,0,0,0.5);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-section::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.15);
    z-index: 0;
    pointer-events: none;
}
.form-container {
    position: relative;
    background-color: rgb(var(--c-ba));
    padding: 25px 50px;
    border-radius: 24px;
    box-shadow: 12px 12px 18px rgba(0,0,0,0.5);
    width: 90%;
    max-width: 600px;
    z-index: 1;
    margin: 50px 0;
}
.CTA-end {
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.CTA-end p {
    font-size: 1.125rem;
    font-weight: 300;
    text-align: center;
}
.CTA-end a {
    border: 1px solid rgb(var(--c-do));
    text-decoration: none;
    padding: 5px;
    border-radius: 12px;
    color: rgb(var(--c-do));
    width: 250px;
    text-align: center;
    box-shadow: 3px 3px 6px rgba(0,0,0,.25);
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 1s ease;
}
.CTA-end a:hover {
    background-color: rgb(var(--c-do));
    color: rgb(var(--c-ba));
    box-shadow: inset 3px 3px 6px rgba(0,0,0,.25);
}
.form-container h2 {
    font-size: 2rem;
    color: rgb(var(--c-ao));
    margin-bottom: 15px;
    font-weight: 400;
    text-align: center;
}
.form-container input, .form-container textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid rgb(var(--c-do));
    border-radius: 12px;
    font-size: 1rem;
    font-weight: 300;
}
.form-container textarea {
    resize: none;
    height: 150px;
}
.form-container button {
    width: 100%;
    padding: 10px 15px;
    margin: 10px 0;
    border: none;
    border-radius: 18px;
    font-size: 1.1rem;
    font-weight: 400;
    color: rgb(var(--c-ba));
    background-color: rgb(var(--c-do));
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.form-container button:hover {
    background-color: rgb(var(--c-ao));
    color: rgb(var(--c-ba));
    transition: background-color 0.3s ease, color 0.3s ease;
}
