* {
    box-sizing: border-box;
}
:root {
    --c-ao: 25, 25, 45; /* azul oscuro */
    /* --c-ba: 240, 244, 254; */
    --c-ba: 255, 255, 255;
    --c-do: 176, 155, 108; /* dorado */
    --nav-size: 80px;
    --shadow-1: 9px 9px 18px rgba(0, 0, 0, 0.25);
    --shadow-2: 6px 6px 12px rgba(0, 0, 0, 0.5);
}
html {
    background-color: rgb(var(--c-ba));
}
body {
    font-family: lato, times, arial;
    color: rgb(var(--c-ao));
    margin: 0;
    display: flex-box;
}
/* Navbar */
.navbar-container {
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    height: var(--nav-size);
    width: 100%;
    background-color: rgba(var(--c-ao),0.4);
    box-shadow: 0 6px 12px 6px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    color: rgb(var(--c-ba));
    text-shadow: 0px 0px 12px black;
    transition: background-color 0.5s ease;
}
.navbar-container.notransparent {
    background-color: rgba(var(--c-ba),0.9);
    color: rgb(var(--c-ao));
    text-shadow: none;
}
.navbar-logocontainer {
    height: 100%;
    width: auto;
    margin: 0 20px;
}
.navbar-logo1 {
    height: 100%;
    width: auto;
    object-fit: fill;
}
.navbar-logo2 {
    display: none;
    object-fit: cover;
    height: 100%;
    width: auto;
}
.navbar-brandcontainer {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}
.navbar-brand {
    color: inherit;
    text-decoration: none;
}
.navbar-brand h1 {
    font-size: 1.5rem;
    margin: 0;
    font-weight: 300;
    justify-content: center;
}
.navbar-brand h1 strong {
    font-size: 1.5rem;
    margin: 0;
    font-weight: 500;
    justify-content: center;
    color: rgb(var(--c-do));
}
.navbar-menuimgcontainer {
    display: none;
    height: 70%;
    width: auto;
    margin: 0 20px;
    justify-content: center;
}
.navbar-menuimg {
    height: 100%;
    width: var(--nav-size);
    cursor: pointer;

    background-color: rgb(var(--c-ba));

    mask-image: url(../assets/img/menu.png);
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;

    -webkit-mask-image: url(../assets/img/menu.png);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;
}
.navbar-menuimg.notransparent {
    background-color: rgb(var(--c-ao));
}
.navbar-menulinks {
    height: 70%;
    width: auto;
    margin: 0 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}
.navbar-menulinks a, .navbar-menulinks p {
    text-decoration: none;
    color: inherit;
    margin: 0 15px;
    font-weight: 500;
    font-size: 1.2rem;
    cursor: pointer;
}
.navbar-menulinks a:hover, .navbar-menulinks p:hover {
    font-weight: 700;
}
.navbar-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 105;
}
.navbar-overlay.active {
    display: block;
}
.navbar-sidebar {
    background-color: rgb(var(--c-ba));
    box-shadow: 6px 0 6px 12px rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    right: -450px;
    width: 75vw;
    max-width: 450px;
    min-width: 300;
    height: 100vh;
    z-index: 110;
    opacity: 0;
    transition: right 0.3s ease, opacity 0.5s ease;
}
.navbar-sidebar.active {
    right: 0;
    opacity: 1;
}
.navbar-1, .navbar-2 {
    position: absolute;
    top: 50px;
    left: 500px;
    width: 100%;
    height: auto;
    align-items: start;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: opacity 0.5s ease, left 0.2s ease;
    visibility: hidden;
}
.navbar-sidebar div a, .navbar-sidebar div p {
    margin: 5px 0;
    text-decoration: none;
    color: inherit;
    font-size: 1.25rem;
    cursor: pointer;
}
.navbar-sidebar div p strong {
    font-weight: 300;
    color: rgb(var(--c-do));
    cursor: default;
}
.navbar-1.active {
    opacity: 1;
    visibility: visible;
    left: 40px;
}
.navbar-2.active {
    opacity: 1;
    visibility: visible;
    left: 40px;
}

/* Navbar Responsive */
@media (max-width: 768px) {
    .navbar-menuimgcontainer {
        display: flex;
    }
    .navbar-menulinks {
        display: none;
    }
    .navbar-1.navbar-1.active, .navbar-2.navbar-2.active {
        left: 35px;
    }
}
@media (max-width: 400px){
    .navbar-sidebar div a, .navbar-sidebar div p {
        font-size: 1.15rem;
    }
    .navbar-1.navbar-1.active, .navbar-2.navbar-2.active {
        left: 30px;
    }
}
    @media (max-width: 350px) {
    .navbar-logo1 {
        display: none;
    }
    .navbar-logo2 {
        display: block;
    }
    .navbar-brandcontainer {
        display: none;
    }
    .navbar-sidebar div a, .navbar-sidebar div p {
        font-size: 0.9rem;
    }
    .navbar-1.navbar-1.active, .navbar-2.navbar-2.active {
        left: 20px;
    }
}

/* Footer */
footer {
    background-color: rgb(var(--c-ao)); /* azul oscuro */
    color: rgb(var(--c-ba)); /* blanco azulado */
    padding: 40px 20px 20px;
    font-size: 14px;
    text-align: center;
    box-shadow: 0 -6px 12px rgba(0, 0, 0, 0.25);
    z-index: 50;
    position: relative;
    transition: box-shadow 0.5s ease;
    margin-top: auto;
}
footer:hover {
    box-shadow: none;
}
.footer__container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 40px;
    max-width: 1000px;
    margin: 0 auto 20px;
}
.footer__column {
    flex: 1;
    min-width: 250px;
    text-align: center;
    align-content: center;
}
.footer__logo {
    max-width: 300px;
    margin-bottom: 10px;
}
.footer__column h3 {
    font-size: 1.75rem;
    font-weight: 350;
    margin-bottom: 10px;
}
.footer__column a, .footer__column p {
    color: rgb(var(--c-ba));
    font-weight: 400;
    font-size: 1rem;
    text-decoration: none;
}
.footer__icons {
    width: 1rem;
    height: auto;
    margin-right: 10px;
}
.footer__column a:hover {
    text-decoration: underline;
}
.footer__bottom {
    font-size: 0.85rem;
    color: rgb(var(--c-do));
    border-top: 1px solid rgb(var(--c-do));
    padding-top: 15px;
}

/* Footer Responsive */
@media (max-width: 595px) {
    .footer__container {
        gap: 5px;
    }
    .footer__column h3 {
        margin-top: 0;
    }
    .footer__container {
        justify-content: center;
    }
    .footer__column {
        text-align: center;
        min-width: auto;
    }
    .footer__logo {
        width: 80vw;
    }
}